@media (max-width: 1400px) {
  .team__photo-block {
    padding-top: 420px;
  }
  .team__img {
    margin-right: auto;
  }
  .team__figure {
    right: calc(50% - 235px);
  }
  .team__card-3 {
    left: 441px;
  }
  .header__burger-btn {
    display: block;
  }
  .header {
    position: relative;
  }
  .header__logo {
    position: absolute;
    top: 24px;
    left: calc(50% - 66px);
  }
  .menu {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    background-color: #016A70;
    padding: 75px 20px 20px 20px;
    transition: transform 0.5s;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .header__item:last-child {
    align-self: center;
  }
  .menu__link {
    color: white;
    font-size: 21px;
    display: block;
    padding: 10px 0;
  }
  .header.open .menu {
    transform: translateX(100%);
  }
}
@media (max-width: 1024px) {
  .about__grid {
    grid-template-columns: 1fr 1fr;
  }
  .about__card-2 {
    display: none;
  }
  .about__card-5 {
    display: none;
  }
  .for-who__flex {
    flex-direction: column;
  }
  .for-who__card {
    max-width: unset;
  }
  .team__card-3 {
    left: 170px;
  }
}
@media (max-width: 576px) {
  .hero__svg {
    display: none;
  }
  .hero {
    background-image: url(../img/hero-bg-576.svg);
    background-size: contain;
    padding: 91px 0 140px;
  }
  .team__card {
    max-width: 242px;
    padding: 8px 8px 24px;
  }
  .team__card-2 {
    left: 106px;
    top: 25px;
  }
  .team__card-3 {
    top: 165px;
    left: 15px;
    max-width: 242px;
  }
  .team {
    padding: 29px 0 130px;
  }
  .team__figure {
    bottom: -88px;
    right: calc(50% - 100px);
  }
  .team__figure svg {
    width: 160px;
    height: 55.764px;
  }
  .team__figure-text {
    font-size: 40px;
    line-height: 95%; /* 38px */
  }
  .about__title {
    font-size: 40px;
    line-height: 95%; /* 38px */
  }
  .about__text {
    font-size: 28px;
    line-height: 110%; /* 30.8px */
  }
  .about__text-2 {
    font-size: 28px;
    line-height: 110%; /* 30.8px */
  }
  .about__text-block {
    display: block;
  }
  .about__card {
    position: relative;
  }
  .about__flex {
    flex-direction: column;
  }
  .about__img {
    max-width: 231px;
    height: 220px;
  }
  .about__card-1 {
    padding: 12px 12px 58px;
  }
  .about__card-3 {
    grid-area: unset;
  }
  .about__card-4 {
    grid-area: unset;
  }
  .about__text-2 {
    position: absolute;
    bottom: 8px;
  }
  .about__grid {
    margin-bottom: 23px;
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
  }
  .about__text-3 {
    font-size: 40px;
    line-height: 95%;
  }
  .about {
    padding-bottom: 40px;
  }
  .for-who__title {
    font-size: 40px;
    line-height: 95%;
    margin-bottom: 16px;
  }
  .for-who__text {
    font-size: 16px;
    line-height: 95%;
    margin-bottom: 20px;
  }
  .for-who__subtitle {
    font-size: 28px;
    line-height: 110%; /* 30.8px */
    margin-bottom: 12px;
  }
  .for-who__text-2 {
    font-size: 16px;
    line-height: 95%; /* 15.2px */
  }
  .for-who__flex {
    gap: 12px;
    margin-bottom: 32px;
  }
  .form__title {
    font-size: 16px;
    line-height: 110%; /* 17.6px */
    text-align: left;
    margin-bottom: 12px;
  }
  .form__input {
    height: 34px;
  }
  .form__input::-moz-placeholder {
    font-size: 12px;
    line-height: 110%; /* 13.2px */
  }
  .form__input::placeholder {
    font-size: 12px;
    line-height: 110%; /* 13.2px */
  }
  .form__btn {
    font-size: 16px;
    line-height: 110%;
    padding: 8px 0;
    max-width: 105px;
  }
  .for-who {
    padding: 0 0 32px;
  }
  .footer__logo {
    display: none;
  }
  .footer__logo-576 {
    display: block;
    width: 72px;
    height: 113px;
  }
  .footer__link {
    font-size: 12px;
    line-height: 110%; /* 13.2px */
  }
  .footer__flex {
    max-width: 300px;
  }
  .footer__text {
    font-size: 12px;
    line-height: 110%; /* 13.2px */
  }
  .footer__list {
    row-gap: 16px;
    -moz-column-gap: 32px;
    column-gap: 32px;
    flex-wrap: wrap;
  }
  .page {
    background-image: url(../img/page-576.svg);
    padding: 220px 0 40px;
  }
  .hero__text {
    font-size: 20px;
    line-height: 110%; /* 22px */
    max-width: 286px;
  }
  .team__text {
    font-size: 16px;
    line-height: 110%; /* 17.6px */
  }
  .team__svg {
    width: 62px;
    height: 67.536px;
  }
  .page__title {
    display: none;
  }
  .page__title-576 {
    display: block;
    margin-bottom: 32px;
  }
  .page__text {
    font-size: 20px;
    line-height: 110%; /* 22px */
    margin-bottom: 50px;
  }
  .page__text-2 {
    font-size: 16px;
    line-height: 110%; /* 17.6px */
  }
  form {
    gap: 12px;
  }
  .page__input {
    height: 34px;
    padding: 10px;
  }
  .page__input::-moz-placeholder {
    font-size: 12px;
    line-height: 110%;
  }
  .page__input::placeholder {
    font-size: 12px;
    line-height: 110%;
  }
  .page__btn {
    padding: 8px 0;
    font-size: 16px;
    max-width: 121px;
  }
}/*# sourceMappingURL=media.css.map */